<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siact.module.base.mapper.KilnInfoMapper">
    <update id="updateDistributeBatch" parameterType="list">
        UPDATE kiln_info
        <trim prefix="SET" suffixOverrides=",">
            <!-- 更新 state -->
            <trim prefix="state = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.state}
                </foreach>
            </trim>

            <!-- 更新 gas_calc -->
            <trim prefix="gas_calc = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.gasCalc}
                </foreach>
            </trim>

            <!-- 更新 gas_val -->
            <trim prefix="gas_val = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.gasVal}
                </foreach>
            </trim>

            <!-- 更新 wind_calc -->
            <trim prefix="wind_calc = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.windCalc}
                </foreach>
            </trim>

            <!-- 更新 wind_val -->
            <trim prefix="wind_val = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.windVal}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateGasFlowBatch" parameterType="list">
        UPDATE kiln_info
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="gas_val_up = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.gasValUp}
                </foreach>
            </trim>
            <trim prefix="gas_val_low = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.gasValLow}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateWindDisBatch" parameterType="list">
        UPDATE kiln_info
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="wind_dis_up = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.windDisUp}
                </foreach>
            </trim>
            <trim prefix="wind_dis_low = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.windDisLow}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateTotalWindBatch" parameterType="list">
        UPDATE kiln_info
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="total_wind_val = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN id = #{item.id} THEN #{item.totalWindVal}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>