<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siact.module.base.mapper.TempConditionMapper">

    <insert id="insertBatch">
        insert into temp_condition
        (rule_code, mc_code, operation, exceeds_limit, threshold)
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.ruleCode},
                #{item.mcCode},
                #{item.operation},
                #{item.exceedsLimit},
                #{item.threshold}
            )
        </foreach>
    </insert>

</mapper> 