<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siact.module.permission.mapper.UserOrganizationMapper">
    
    <!-- 批量插入用户组织关联 -->
    <insert id="batchInsert">
        INSERT INTO sys_user_organization (user_id, org_id)
        VALUES
        <foreach collection="orgIds" item="orgId" separator=",">
            (#{userId}, #{orgId})
        </foreach>
    </insert>
    
    <!-- 根据用户ID查询组织ID列表 -->
    <select id="selectOrgIdsByUserId" resultType="java.lang.Long">
        SELECT org_id
        FROM sys_user_organization
        WHERE user_id = #{userId}
    </select>

    <!-- 根据组织id查询人员id列表 -->
    <select id="selectUserIdsByOrgId" resultType="java.lang.Long">
        SELECT user_id
        FROM sys_user_organization
        WHERE org_id = #{orgId}
    </select>
    
</mapper> 